# Created by https://www.toptal.com/developers/gitignore/api/obsidian
# Edit at https://www.toptal.com/developers/gitignore?templates=obsidian

### Obsidian ###
# config dir
.obsidian/

# End of https://www.toptal.com/developers/gitignore/api/obsidian
